* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imges/Clear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 100vh;
}

ul {
  list-style-type: none;
}

#app {
  max-width: 600px;
  width: 50%;
  /* margin: 0 auto; */
  text-align: center;
  /* outline: 1px solid #333 */
}

#app h1 {
  margin-bottom: 1em;
  font-size: 2rem;
}

.cityname {
  font-size: 3rem;
}

.temp {
  font-size: 5rem;
}

.desc {
  font-size: 2rem;
}

select {
  padding: 5px 1rem;
  margin-top: 1rem;
  border-style: none;
  border-radius: 5px;
}
.container {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.clock {
  /* display: flex; */
  width: 850px;
  height: 850px;
  background-image: url(../imges/time.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock .hLine {
  position: absolute;
  background-image: url(../imges/Hline.svg);
  width: 200px;
  height: 24px;
  transform: rotate(150deg);
  top: calc(50% - 12px);
  left: 50%;
  transform-origin: left;
}
.clock .mLine {
  position: absolute;
  background-image: url(../imges/Mline.svg);
  top: calc(50% - 12px);
  left: 50%;
  transform-origin: left;
  transform: rotate(0deg);
  width: 300px;

  height: 24px;
}
.clock .sLine {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../imges/Sline.svg);
  width: 300px;
  height: 2px;
  transform-origin: left;
  transform: rotate(135deg);
}
